.vscode/**
.vscode-test/**
.vscode-test-web/**
out/**
src/test/**
node_modules/**
src/**/*.ts
.github/**
explore/**
work/**
.gitignore
.bumpversion.toml
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
*.vsix

docs/**
!docs/logo-128.png
images/**
